* {
    margin: 20;
    padding: 0;
    /*中央*/
    text-align: center;
  }

  input #nkey-input {
    width: 100px;
    height: 100px;
    color: #000000;
    background-color: #ffffff;
  }

  h2 {
    color: white;
    background-color: #999999;
  }

  h3 {
    /*上下中央*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  /* === ボタンを表示するエリア ============================== */
  .switchArea {
    line-height: 28px;
    /* 1行の高さ          */
    letter-spacing: 0;
    /* 文字間             */
    text-align: center;
    /* 文字位置は中央     */
    font-size: 20px;
    /* 文字サイズ         */

    position: relative;
    /* 親要素が基点       */
    margin: auto;
    /* 中央寄せ           */
    width: 100px;
    /* ボタンの横幅       */
    background: #eee;
    /* デフォルト背景色   */
  }

  /* === チェックボックス ==================================== */
  .switchArea input[type="checkbox"] {
    display: none;
    /* チェックボックス非表示 */
  }

  /* === チェックボックスのラベル（標準） ==================== */
  .switchArea label {
    display: block;
    /* ボックス要素に変更 */
    box-sizing: border-box;
    /* 枠線を含んだサイズ */
    height: 33px;
    /* ボタンの高さ       */
    border: 2px solid #999999;
    /* 未選択タブのの枠線 */
    border-radius: 30px;
    /* 角丸               */
  }

  /* === チェックボックスのラベル（ONのとき） ================ */
  .switchArea input[type="checkbox"]:checked+label {
    border-color: #78bd78;
    /* 選択タブの枠線     */
  }

  /* === 表示する文字（標準） ================================ */
  .switchArea label span:after {
    content: "OFF";
    /* 表示する文字       */
    padding: 0 0 0 29px;
    /* 表示する位置       */
    color: #999999;
    /* 文字色             */
  }

  /* === 表示する文字（ONのとき） ============================ */
  .switchArea input[type="checkbox"]:checked+label span:after {
    content: "ON";
    /* 表示する文字       */
    padding: 0 36px 0 0;
    /* 表示する位置       */
    color: #78bd78;
    /* 文字色             */
  }

  /* === 丸部分のSTYLE（標準） =============================== */
  .switchArea #swImg {
    position: absolute;
    /* 親要素からの相対位置*/
    width: 25px;
    /* 丸の横幅           */
    height: 25px;
    /* 丸の高さ           */
    background: #999999;
    /* カーソルタブの背景 */
    top: 4px;
    /* 親要素からの位置   */
    left: 4px;
    /* 親要素からの位置   */
    border-radius: 26px;
    /* 角丸               */
    transition: .2s;
    /* 滑らか変化         */
  }

  /* === 丸部分のSTYLE（ONのとき） =========================== */
  .switchArea input[type="checkbox"]:checked~#swImg {
    transform: translateX(67px);
    /* 丸も右へ移動       */
    background: #78bd78;
    /* カーソルタブの背景 */
  }

  #status {
    margin-top: 10px;
    height: 20px;
  }

  #save {
    /*緑のボタン 下*/
    margin-top: 0px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 22px;
    width: 40px;
  }

  #header-car {
    /*横並び*/
    display: flex;
    flex-direction: row;
    /*中央寄せ*/
    justify-content: center;
    align-items: center;

  }


  .tab-group {
    display: flex;
    justify-content: center;
  }

  .tab {
    flex-grow: 1;
    padding: 5px;
    list-style: none;
    border: solid 1px #CCC;
    text-align: center;
    cursor: pointer;
  }

  .panel-group {
    height: 300px;
    max-width: 186px;
    min-width: 186px;
    border: solid 1px #CCC;
    border-top: none;
    background: #eee;
  }

  .panel {
    display: none;
  }

  .tab.is-active {
    background: #0062ff;
    color: #FFF;
    transition: all 0.2s ease-out;
  }

  .panel.is-show {
    display: block;
  }



  @import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";


.btn,
a.btn,
button.btn {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.75rem 1.0rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-tag {
  padding: 1.0rem 1.0rem 1.0rem 3.5rem;
  color: #fff;
  background: #f39800;
}

a.btn-tag:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: 100%;

  content: "";

  border-radius: 0.5rem 0 0 0.5rem;
  background: rgba(0, 0, 0, 0.07);
}

a.btn-tag:hover {
  color: #fff;
  background: #ffa50e;
}

a.btn-tag i {
  font-size: 120%;

  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  padding: 1.1rem 0;

  text-align: center;
  letter-spacing: 0;
}

/*横並び*/
.flex {
  display: flex;
  flex-direction: row;
  /*中央寄せ*/
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.syousai_settei{
  font-size: 10px;
  width: 100px;
}